#report {
   float: right ;
}

#imagen-garzasoft{
   height: 45px;
}

#table-status{
   color:white;
}

#table-requerimiento{
   border-color: black;

}

#datos{
   margin-left: 45px;
   margin-top: 20px;
}

#lista-datos{
   margin-left: 15px;
   margin-top: 10px;
   font-weight: bold;
   color: black;

}

#container{
   float: left;
}

#container1{
   margin: 40px;
}

#progreso {
   padding-block: 35px;
   
}

#item1{
   justify-content: center;
   margin-top: 20px;
   margin-bottom: 15px;
   color: black;
   font-weight: bold;
}