@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');
:root {
    --login-bg: #f8f3ff;
    --title-bg: #004AAD;
    --button-bg: #016ab0;
    --light-pink: #004AAD;
    --image-bg: #f8f3ff;
}

.login-container {
    height: 100vh;
    width: 100vw;
    margin: auto;
    display: flex;
    justify-content: space-between;
    overflow: hidden;
}

.login-info-container {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-top: 0.5rem;
    background-color: var(--login-bg);
    height: 100vh;
}

.title {
    text-transform: capitalize;
    font-size: 2.25rem;
    font-weight: 600;
    color: var(--title-bg);
    margin-top: 50px;
}

.login-info-container img {
    width: 6.5rem;
    height: 3.7rem;
    margin-top: 30px;
    position: relative;
    margin-right: calc(15vw);
    letter-spacing: 100px;
}

.login-info-container>p {
    font-size: 1.25em;
    margin-top: 0em;
}

.inputs-container {
    height: 55%;
    width: 85%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.input {
    width: 90%;
    height: 3.125rem;
    font-size: 1 em;
    width: 250px;
    padding-left: 20px;
    border: none;
    border-bottom: black 2px solid;
    border-radius: 3px;
    font-weight: 600;
    letter-spacing: 1px;
    box-sizing: border-box;
}

.input:hover {
    border-bottom: var(--button-bg) 2px solid;
    border-color: #2e84e0;
}

.input:focus {
    border-bottom: var(--button-bg) 2px solid;
    outline: none !important;
    border-color: #719ECE;
}

.btn {
    width: 45%;
    letter-spacing: 1px;
    color: white;
    border: none;
    border-radius: 5px;
    background-color: var(--button-bg);
    cursor: pointer;
}

.inputs-container p {
    margin: 0;
}

.span {
    color: var(--light-pink);
    font-weight: 600;
    cursor: pointer;
}

.image-container {
    height: 100vh;
    width: 50%;
}

@media screen and (max-width: 1000px) {
    .login-container {
        width: 70%;
    }
    .login-info-container {
        width: 100%;
        border-radius: 5px;
    }
    .image-container {
        display: none;
    }
    .login-info-container img {
        margin-right: calc(2vw);
    }
}

@media screen and (max-width: 650px) {
    .login-container {
        width: 90%;
    }
}