#calendar-container{
    padding: 10px;
    width: 445px;
    height: 445px;
    text-align: center;
    border: 1px solid #eee;
    border-radius: 10px;
    font-size: 16px;
    font-family:Bold Italic;
    background-image: linear-gradient(#fff, #F5F0F0);
}

#calendar-container>div{
    padding: 0;
    margin-bottom: 10px;
}

#calendar-month-year{
    margin: 20px;
}

#calendar-dates>table>tr>td{
    padding: 20px;
}

div#eventos{
    width: 390px;
    height: 390px;
    background-color: #fff;
}